@import './_color';
@import './_font';

*, *::after, *::before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #040a15;
    color: #fff;
  }
  
.showScroll {
    overflow: hidden;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  p, a {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: inherit;
  }
  
  button {
    border: none;
    cursor: pointer;
  }
  
  input {
    border: none;
    outline: none;
  }

  .header .menu-burger {
    cursor: pointer;
    position: relative;
    z-index: 300;
    width: 26px;
    height: 15px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .header .menu-burger-list {
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
  
  
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    background-color: #061323;
    text-align: center;
    padding: 30px 20px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    z-index: 49;
    max-height: 100vh;
    overflow-y: scroll;
  }
  
  .mobile-menu-item {
    margin-bottom: 100px;
  }
  
  .mobile-menu__list {
    margin-bottom: 20px;
  }
  

  .mobile-menu {
    &__close {
        position: fixed;
        top: 20px;
        right: 100%;
        fill: red;
        background: #061323;
        border-radius: 5px;
        transition: .3s all;
        z-index: 999;
    }
    .showCloseBtn {
        right: 20px;
    }
    .mobile-search__inp {
            width: 100%;
            height: 40px;
            border-radius: 30px;
            background: transparent;
            padding: 0 20px;
            color: #fff;
            border: 1px solid #69828f;
            font-size: 16px;
            &::placeholder {
                color: #69828f;
            }
            &:focus {
                border: 1px solid $red;
            }
            &:focus::placeholder {
                color: #ccc;
            }
    }
    .menu-item {
        margin-top: 20px;
        max-height: 40px;
        padding: 10px 0;
        overflow: hidden;
        border: 1px solid #69828f; 
        border-radius: 30px;
        transition: .3s all;
        &__title {
            font-weight: 700;
        }
        &-info {
            margin-top: 15px;
            &__list {
                margin-top: 5px;
            }
        }
    }
    .showMenuInfo {
        max-height: 1000px;
        border: 1px solid #f64e4e; 
        svg {
            transform: rotate(180deg);
        }
    }
    
    .tg_bot {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        transition: .3s all;
        margin-top: 40px;
        svg {
            fill: #fff;
            margin-right: 10px;
            transition: .3s all;
        }
        &:hover svg {
           fill: $red;
        }
      }
  }

  
  .showMobileMenu {
    left: 0;
  }
  .showCloseBtn {
      right: 20px;
  }
  .body-main {
    max-width: 1920px;
    margin: 0 auto;
    .sub-ad {
        width: 100%;
        height: 260px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover  {
            opacity: 0.5;
        }
    }
  }
  .middle-ad {
    display: flex;
    margin-top: -5px;
    .side-ad {
        width: 15%;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover  {
            opacity: 0.5;
        }
    }
  }

  .main {
    max-width: 1400px;
    margin: 0 auto;
    background: rgba(#11253c, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 3px solid rgba(#fff, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(#11253c, 0.5);
    overflow: hidden;
    position: relative;

    .header {
        position: absolute;
        top: 25px;
        width: 100%;
        padding: 0 75px;
        z-index: 99;
        &-search {
            width: 100%;
            border: 3px solid rgba(#fff, 0.6);
            border-radius: 30px;
            background: rgba(#11253c, 0.9);
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            &-box {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
            }
            &__inp {
                width: 100%;
                border-radius: 30px;
                background: transparent;
                padding: 0 30px;
                color: #fff;
                border: 3px solid #69828f;
                border-top: none;
                border-bottom: none;
                font-size: 20px;
                &::placeholder {
                    color: #69828f;
                }
                &:focus {
                    border: 3px solid $red;
                }
                &:focus::placeholder {
                    color: #ccc;
                }
            }

        }
        &-item {
            width: auto;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            border: 3px solid rgba(#fff, 0.6);
            border-radius: 30px;
            background: rgba(#11253c, 0.9);
            padding: 10px 15px;
            border-top: none;
            border-bottom: none;
            cursor: pointer;
            transition: .3s all;
            position: relative;
            flex-wrap: nowrap;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                border-left: none;
            }
            &__title {
                margin-right: 10px;
                font-size: 20px;
            }
            svg {
                transition: .3s all;
            }
            &-info {
                min-width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                border: 3px solid rgba(#fff, 0.6);
                border-radius: 20px;
                background: rgba(#11253c, 0.9);
                display: none;
                overflow: hidden;
                &__list {
                    padding: 10px;
                    font-size: 16px;
                    &:hover {
                        background-color: $red;
                    }
                }
            }



            &:hover {
                background: $red;
                svg {
                    transform: rotate(180deg);
                }
                .header-item-info {
                    display: block;
                }
            }
        }
        &-trailer {
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-item {
                font-size: 20px;
                font-weight: 400;
                display: inline-block;
                cursor: pointer;
                transition: .3s all;
                padding: 10px 20px;
            }
            label {
                margin-right: 50px;
                &:last-child {
                    margin-right: 0;
                }

            }
            input[type='radio'] {
                opacity: 0;
                position: absolute;
              }
              input:checked ~ .header-trailer-item {
                border: 3px solid rgba(#fff, 0.6);
                border-radius: 30px;
                background: rgba(#11253c, 0.9);
                border-top: .5px solid rgba(#fff, 0.6);
                border-bottom: .5px solid rgba(#fff, 0.6);
              }
              .tg_bot {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                transition: .3s all;
                svg {
                    fill: #fff;
                    margin-right: 10px;
                    transition: .3s all;
                }
                &:hover svg {
                   fill: $red;
                }
              }
        }
    }
    // End header

    .wrapper {
        width: 100%;
        .my-video {
            width: 100%;
            height: 650px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
            display: none;

            #wrapper-video {
                width: 100%;
                height: 100%;
            }
            &__close {
                position: absolute;
                top: 30px;
                right: 20px;
                z-index: 9999;
                fill: #fff;
                cursor: pointer; 
                &:hover {
                    fill: $red;
                }
            }
        }
        &-box {
            position: relative;
        }
        .youtube__link {
            width: 150px;
            height: 55px;
            border: 3px solid rgba(#ccc, 0.7);
            border-radius: 50px;
            background-color: $red;
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            transition: .3s all;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                opacity: 0.8;
            }
        }
        .trailer {
            position: relative;
            width: 100%;
            height: 650px;
            
            &__img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            &__close {
                position: absolute;
                top: 25px;
                right: 25px;
                fill: #fff;
                cursor: pointer;
                z-index: 999;
                display: none;
                &:hover {
                    fill: $red;
                }
            }
            &-item {
                margin-top: 30px;
                height: auto;
            }
            &-item-btns {
                display: flex;
                margin-top: 20px;
            }
            &__download {
                margin: 0 10px;
            }
            &__download,
            &__favorites {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
                height: 55px;
                border: 3px solid rgba(#ccc, 0.7);
                border-radius: 50px;
                background: rgba(#11253c, 0.9);
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                transition: .3s all;
                &:hover {
                    background: $red;
                }
            } 
            .trailer-bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .2s all;
                overflow: hidden;
                border-radius: 20px;
                z-index: 10;
                .play {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 2px solid $red;
                    background: #0009;
                    align-items: center;
                    justify-content: center;
                    transition: .3s all;
                    cursor: pointer;
                    display: none;
                    svg {
                        fill: $red;
                        width: 40px;
                        path {
                            stroke: $red;
                        }
                    }
                    &:hover {
                        transform: scale(1.2);
                        background: #0004;
                    }
                }
            }
            &:hover .trailer-bg {
                .play {
                    display: flex;
                }
            }
        }
        
        .trailer-item__name {
            font-size: 79px;
            font-weight: 700;
            position: absolute !important;
            left: 75px;
            top: 80%;
            z-index: 101;
        }
        .trailerName {
            display: none;
        }
        &-item {
            margin-top: -150px;
           padding: 0 75px;
           display: flex;
           align-items: center;
           justify-content: space-between;
           position: relative;
           z-index: 100;
           transition: .3s all;
           &-slider {
            max-width: 580px;
            padding: 0 40px;
            .slick-slide {
                margin: 0 5px;
            }
            .slick-center {
                width: 170px !important;
                height: 260px !important;
            }
            .slick-track {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
            }
            .slick-next,
            .slick-prev {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                svg {
                    fill: #fff;
                    &:hover {
                        fill: $red;
                    }
                }
            }
            .slick-next {
                right: 20px;
            }
            .slick-prev {
                left: 0;
            }
            .slider-item {
                display: block;
                border-radius: 20px;
                overflow: hidden;
                width: 140px;
                height: 200px;
                position: relative;
                border: 3px solid rgba(#fff, 0.6);
                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                .slider-bg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 150%;
                    height: 150%;
                    background-color: #0008;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .2s all;
                    overflow: hidden;
                    border-radius: 20px;
                    opacity: 0;
                    .play {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border: 2px solid $red;
                        background: #0009;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: .3s all;
                        svg {
                            fill: $red;
                            width: 20px;
                            path {
                                stroke: $red;
                            }
                        }
                        &:hover {
                            transform: scale(1.2);
                            background: #0004;
                        }
                    }
                }
                &:hover .slider-bg {
                   opacity: 1;
                }
            }
           }
        }
        .wrapperItem {
            margin-top: 0;
            align-items: start;
        }
        
    }
    // End wrapper

    .baner-advertising {
        padding: 0 75px;
        margin-top: 40px;
        &-item {
            width: 100%;
            height: auto;
            border: 3px solid rgba(#fff, 0.6);
            background: rgba(#11253c, 0.5);
            border-radius: 30px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
//   End baner-advertising

.donate {
    padding: 0 75px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-img {
        img {
            filter: grayscale(90%);
        }
    }

    &-item {
        text-align: center;
        width: 70%;
        &__title {
            font-size: 39px;
            color: #fff;
            margin-bottom: 80px;
        }
        &-icons {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            .line {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 32.5px;
                width: 80%;
                height: 3px;
                background: #69828f;
            }
            .icon {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                width: 25%;
                cursor: pointer;
                &-item {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #fff;
                    transition: .3s all;
                    background: #0e101c;
                    position: relative;
                    z-index: 1;
                }
                &__text {
                    font-size: 24px;
                    color: #fff;
                    font-weight: 400;
                    margin-top: 15px;
                }
                &:hover {
                    .icon-item {
                        animation: animIcon .6s ease-in-out ;
                        border: 1px solid #f64e4e;
                    }
                }
            }
        }
    }

}


.footer {
    padding: 75px;
    border-top: 3px solid rgba(#fff, 0.6);
    border-radius: 30px;
    position: relative;
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#11253c, 0.5);
        backdrop-filter: blur(20px);
    }

    &-item {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        &-box {
            display: flex;
            align-items: start;
            justify-content: space-between;
            width: 60%;
        }
    }
    &__title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &-list {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 5px;
        transition: .3s all;
        &:hover {
            color: #f64e4e;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-icon {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: end;
        &__link {
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
        svg {
            fill: #C592A0;
            transition: .3s all;
            &:hover {
                fill: #f64e4e;
            }

        }
    }
}
    &-search {
        padding: 70px 0 55px;
        .search {
            padding: 45px 75px 45px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-height: 860px;
            overflow: hidden;
            transition: .3s all;
            &-item { 
                width: 180px;
                height: 250px;
                display: block;
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                border: 3px solid rgba(#fff, 0.6);
                margin-top: 20px;
                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                
                .search-bg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 0;
                    height: 0;
                    background-color: #0008;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .2s all;
                    overflow: hidden;
                    border-radius: 20px;
                    .play {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border: 2px solid $red;
                        background: #0009;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: .3s all;
                        svg {
                            fill: $red;
                            width: 20px;
                            path {
                                stroke: $red;
                            }
                        }
                        &:hover {
                            transform: scale(1.2);
                            background: #0004;
                        }
                    }
                }
                &:hover .search-bg {
                    width: 100%;
                    height: 100%;
                }
            }
            &-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
            }
            &__btn {
                width: 220px;
                height: 55px;
                border: 3px solid rgba(#ccc, 0.7);
                border-radius: 50px;
                background-color: $red;
                color: #fff;
                font-size: 23px;
                font-weight: 400;
                transition: .3s all;
                &:hover {
                    opacity: 0.8;
                }
            }
            &-page {
                display: flex;
                justify-content: center;
                margin-top: 35px;
                &-num {
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    background: #1b3a4b;
                    border: 1px solid rgba(#ccc, 0.7);
                    margin-right: 25px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .page_active {
                    background: $red;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        .showAllSearch {
            max-height: 90000px !important;
        }
    }
}

.sign-in {
        width: 520px;
        border-radius: 30px;
        padding: 45px 15px 30px;
        text-align: center;
        margin: 0px auto;
        position: relative;
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(#1b3a4b, 0.5);
            border: 3px solid rgba(#ccc, 0.7);
            backdrop-filter: blur(20px);
        }
        &__title {
            font-size: 20px;
            font-weight: 400;
            padding: 0 30px;
            position: relative;
            z-index: 1;
        }
        &-form {
            margin-top: 40px;
            position: relative;
            z-index: 1;
            &__inp {
                width: 100%;
                border: 1px solid rgba(#ccc, 0.7);
                border-radius: 10px;
                height: 50px;
                background: transparent;
                padding: 0 180px 0 20px;
                font-size: 20px;
                font-weight: 400;
                color: #fff;
                &::placeholder {
                    color: #fff;
                }
            }
            .code {
                margin-top: 25px;
                position: relative;
                &__btn {
                    width: 165px;
                    height: 50px;
                    border-radius: 10px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: 1px solid rgba(#ccc, 0.7);
                    background: transparent;
                    color: #fff;
                    font-size: 20px;
                    transition: .3s all;
                    &:hover {
                        background: #061323;
                    }
                }
            }
            &__btn {
                width: 145px;
                height: 50px;
                border-radius: 30px;
                color: #fff;
                font-size: 20px;
                background: #061323;
                border: 1px solid rgba(#ccc, 0.7);
                transition: .3s all;
                margin-top: 30px;
                &:hover {
                    background: $red;
                }
    
            }
        }
}
.modal-donate {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 9999;
        fill: #fff;
        cursor: pointer;
        &:hover {
            fill: $red;
        }
    }
    .modal-body {
        width: 80%;
        height: 650px;
        border-radius: 30px;
        background: #11253c;
        border: 3px solid rgba(#ccc, 0.7);
        padding: 45px 15px 30px;
        position: relative;
        margin-top: 100px;
        &__text {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            z-index: 9999;
            font-size: 24px;
        }
    }

} 

.showModal {
    opacity: 1;
    z-index: 999;
}

@keyframes animIcon {
    25% {
        transform: translateY(-10px)
    } 50% {
        transform: translateY(0)
    } 75% {
        transform: translateY(-5px)
    }
     100% {
        transform: translateY(0)
    }
}

@keyframes move-light {
    from {
              transform: translateX(-20px) skewX(-45deg);
    }
    to {
              transform: translateX(2000px) skewX(-45deg);
    }
  }
  @keyframes move-light2 {
    from {
              transform: translateX(-20px) skewX(-45deg);
    }
    to {
              transform: translateX(400px) skewX(-45deg);
    }
  }

  @import './_media';