@font-face {
  font-family: Montserrat;
  src: url(../../font/Montserrat-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: Montserrat;
  src: url(../../font/Montserrat-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: Montserrat;
  src: url(../../font/Montserrat-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #040a15;
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.body-page {
  background-image: url(../../img/png/body.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: top 0 center;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.sign-page {
  height: 100vh;
  overflow: hidden;
}

.showScroll {
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, a {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

.header .menu-burger {
  cursor: pointer;
  position: relative;
  z-index: 300;
  width: 26px;
  height: 15px;
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .menu-burger-list {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 75%;
  height: 100%;
  background-color: #061323;
  text-align: center;
  padding: 30px 20px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  z-index: 49;
  max-height: 100vh;
  overflow-y: scroll;
}

.mobile-menu-item {
  margin-bottom: 100px;
}

.mobile-menu__list {
  margin-bottom: 20px;
}

.mobile-menu__close {
  position: fixed;
  top: 20px;
  right: 100%;
  fill: red;
  background: #061323;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  z-index: 999;
}

.mobile-menu .showCloseBtn {
  right: 20px;
}

.mobile-menu .mobile-search__inp {
  width: 100%;
  height: 40px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background: transparent;
  padding: 0 20px;
  color: #fff;
  border: 1px solid #69828f;
  font-size: 16px;
}

.mobile-menu .mobile-search__inp::-webkit-input-placeholder {
  color: #69828f;
}

.mobile-menu .mobile-search__inp:-ms-input-placeholder {
  color: #69828f;
}

.mobile-menu .mobile-search__inp::-ms-input-placeholder {
  color: #69828f;
}

.mobile-menu .mobile-search__inp::placeholder {
  color: #69828f;
}

.mobile-menu .mobile-search__inp:focus {
  border: 1px solid #ec1717;
}

.mobile-menu .mobile-search__inp:focus::-webkit-input-placeholder {
  color: #ccc;
}

.mobile-menu .mobile-search__inp:focus:-ms-input-placeholder {
  color: #ccc;
}

.mobile-menu .mobile-search__inp:focus::-ms-input-placeholder {
  color: #ccc;
}

.mobile-menu .mobile-search__inp:focus::placeholder {
  color: #ccc;
}

.mobile-menu .menu-item {
  margin-top: 20px;
  max-height: 40px;
  padding: 10px 0;
  overflow: hidden;
  border: 1px solid #69828f;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.mobile-menu .menu-item__title {
  font-weight: 700;
}

.mobile-menu .menu-item-info {
  margin-top: 15px;
}

.mobile-menu .menu-item-info__list {
  margin-top: 5px;
}

.mobile-menu .showMenuInfo {
  max-height: 1000px;
  border: 1px solid #f64e4e;
}

.mobile-menu .showMenuInfo svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mobile-menu .tg_bot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  margin-top: 40px;
}

.mobile-menu .tg_bot svg {
  fill: #fff;
  margin-right: 10px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.mobile-menu .tg_bot:hover svg {
  fill: #ec1717;
}

.showMobileMenu {
  left: 0;
}

.showCloseBtn {
  right: 20px;
}

.body-main {
  max-width: 1920px;
  margin: 0 auto;
}

.body-main .sup-ad {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.body-main .sup-ad img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.body-main .sup-ad .bg-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.body-main .sup-ad:hover .bg-hover {
  background: #0003;
}

.middle-ad {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.middle-ad .side-ad {
  width: 13.7%;
  height: auto;
  position: relative;
}

.middle-ad .side-ad img {
  width: 100%;
  position: absolute;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top 0  center;
     object-position: top 0  center;
}

.middle-ad .side-ad .bg-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.middle-ad .side-ad:hover .bg-hover {
  background: #0003;
}

.main {
  max-width: 1400px;
  margin: 0 auto;
  background: rgba(17, 37, 60, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(17, 37, 60, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(17, 37, 60, 0.5);
  overflow: hidden;
  position: relative;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.2);
}

.main .header {
  position: absolute;
  top: 25px;
  width: 100%;
  padding: 0 75px;
  z-index: 99;
}

.main .header-search {
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background: rgba(17, 37, 60, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.main .header-search-box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.main .header-search__inp {
  width: 100%;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background: transparent;
  padding: 0 30px;
  color: #fff;
  border: 3px solid #69828f;
  border-top: none;
  border-bottom: none;
  font-size: 20px;
}

.main .header-search__inp::-webkit-input-placeholder {
  color: #69828f;
}

.main .header-search__inp:-ms-input-placeholder {
  color: #69828f;
}

.main .header-search__inp::-ms-input-placeholder {
  color: #69828f;
}

.main .header-search__inp::placeholder {
  color: #69828f;
}

.main .header-search__inp:focus {
  border: 3px solid #ec1717;
}

.main .header-search__inp:focus::-webkit-input-placeholder {
  color: #ccc;
}

.main .header-search__inp:focus:-ms-input-placeholder {
  color: #ccc;
}

.main .header-search__inp:focus::-ms-input-placeholder {
  color: #ccc;
}

.main .header-search__inp:focus::placeholder {
  color: #ccc;
}

.main .header-item {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background: rgba(17, 37, 60, 0.9);
  padding: 10px 15px;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  position: relative;
  flex-wrap: nowrap;
  margin-right: 8px;
}

.main .header-item:last-child {
  margin-right: 0;
}

.main .header-item:first-child {
  border-left: none;
}

.main .header-item__title {
  margin-right: 10px;
  font-size: 20px;
}

.main .header-item svg {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main .header-item-info {
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  border: 3px solid rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: rgba(17, 37, 60, 0.9);
  display: none;
  overflow: hidden;
}

.main .header-item-info__list {
  padding: 10px;
  font-size: 16px;
}

.main .header-item-info__list:hover {
  background-color: #ec1717;
}

.main .header-item:hover {
  background: #ec1717;
}

.main .header-item:hover svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main .header-item:hover .header-item-info {
  display: block;
}

.main .header-trailer {
  margin-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .header-trailer-item {
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  padding: 10px 20px;
}

.main .header-trailer label {
  margin-right: 50px;
}

.main .header-trailer label:last-child {
  margin-right: 0;
}

.main .header-trailer input[type='radio'] {
  opacity: 0;
  position: absolute;
}

.main .header-trailer input:checked ~ .header-trailer-item {
  border: 3px solid rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background: rgba(17, 37, 60, 0.9);
  border-top: 0.5px solid rgba(255, 255, 255, 0.6);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.6);
}

.main .header-trailer .tg_bot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main .header-trailer .tg_bot svg {
  fill: #fff;
  margin-right: 10px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main .header-trailer .tg_bot:hover svg {
  fill: #ec1717;
}

.main .wrapper {
  width: 100%;
}

.main .wrapper .my-video {
  width: 100%;
  height: 650px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
}

.main .wrapper .my-video #wrapper-video {
  width: 100%;
  height: 100%;
}

.main .wrapper .my-video__close {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 9999;
  fill: #fff;
  cursor: pointer;
}

.main .wrapper .my-video__close:hover {
  fill: #ec1717;
}

.main .wrapper-box {
  position: relative;
}

.main .wrapper .youtube__link {
  width: 150px;
  height: 55px;
  border: 3px solid rgba(204, 204, 204, 0.7);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: #ec1717;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .wrapper .youtube__link:hover {
  opacity: 0.8;
}

.main .wrapper .trailer {
  position: relative;
  width: 100%;
  height: 650px;
}

.main .wrapper .trailer__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main .wrapper .trailer__close {
  position: absolute;
  top: 25px;
  right: 25px;
  fill: #fff;
  cursor: pointer;
  z-index: 999;
  display: none;
}

.main .wrapper .trailer__close:hover {
  fill: #ec1717;
}

.main .wrapper .trailer-item {
  margin-top: 30px;
  height: auto;
}

.main .wrapper .trailer-item-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.main .wrapper .trailer__download {
  margin: 0 10px;
}

.main .wrapper .trailer__download, .main .wrapper .trailer__favorites {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 55px;
  border: 3px solid rgba(204, 204, 204, 0.7);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background: rgba(17, 37, 60, 0.9);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main .wrapper .trailer__download:hover, .main .wrapper .trailer__favorites:hover {
  background: #ec1717;
}

.main .wrapper .trailer .trailer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  overflow: hidden;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  z-index: 10;
}

.main .wrapper .trailer .trailer-bg .play {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #ec1717;
  background: #0009;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
  display: none;
}

.main .wrapper .trailer .trailer-bg .play svg {
  fill: #ec1717;
  width: 40px;
}

.main .wrapper .trailer .trailer-bg .play svg path {
  stroke: #ec1717;
}

.main .wrapper .trailer .trailer-bg .play:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  background: #0004;
}

.main .wrapper .trailer:hover .trailer-bg .play {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main .wrapper .trailer-item__name {
  font-size: 79px;
  font-weight: 700;
  position: absolute !important;
  left: 75px;
  top: 80%;
  z-index: 101;
}

.main .wrapper .trailerName {
  display: none;
}

.main .wrapper-item {
  margin-top: -150px;
  padding: 0 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 100;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main .wrapper-item-slider {
  max-width: 580px;
  padding: 0 40px;
}

.main .wrapper-item-slider .slick-slide {
  margin: 0 5px;
}

.main .wrapper-item-slider .slick-center {
  width: 170px !important;
  height: 260px !important;
}

.main .wrapper-item-slider .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .wrapper-item-slider .slick-next,
.main .wrapper-item-slider .slick-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .wrapper-item-slider .slick-next svg,
.main .wrapper-item-slider .slick-prev svg {
  fill: #fff;
}

.main .wrapper-item-slider .slick-next svg:hover,
.main .wrapper-item-slider .slick-prev svg:hover {
  fill: #ec1717;
}

.main .wrapper-item-slider .slick-next {
  right: 20px;
}

.main .wrapper-item-slider .slick-prev {
  left: 0;
}

.main .wrapper-item-slider .slider-item {
  display: block;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  overflow: hidden;
  width: 140px;
  height: 200px;
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.6);
}

.main .wrapper-item-slider .slider-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main .wrapper-item-slider .slider-item .slider-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  background-color: #0008;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  overflow: hidden;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  opacity: 0;
}

.main .wrapper-item-slider .slider-item .slider-bg .play {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #ec1717;
  background: #0009;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main .wrapper-item-slider .slider-item .slider-bg .play svg {
  fill: #ec1717;
  width: 20px;
}

.main .wrapper-item-slider .slider-item .slider-bg .play svg path {
  stroke: #ec1717;
}

.main .wrapper-item-slider .slider-item .slider-bg .play:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  background: #0004;
}

.main .wrapper-item-slider .slider-item:hover .slider-bg {
  opacity: 1;
}

.main .wrapper .wrapperItem {
  margin-top: 0;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
}

.main .baner-advertising {
  padding: 0 75px;
  margin-top: 40px;
}

.main .baner-advertising-item {
  width: 100%;
  height: auto;
  border: 3px solid rgba(255, 255, 255, 0.6);
  background: rgba(17, 37, 60, 0.5);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  overflow: hidden;
}

.main .baner-advertising-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .donate {
  padding: 0 75px;
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .donate-img img {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
}

.main .donate-item {
  text-align: center;
  width: 70%;
}

.main .donate-item__title {
  font-size: 39px;
  color: #fff;
  margin-bottom: 80px;
}

.main .donate-item-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.main .donate-item-icons .line {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 32.5px;
  width: 80%;
  height: 3px;
  background: #69828f;
}

.main .donate-item-icons .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  cursor: pointer;
}

.main .donate-item-icons .icon-item {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #fff;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  background: #0e101c;
  position: relative;
  z-index: 1;
}

.main .donate-item-icons .icon__text {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-top: 15px;
}

.main .donate-item-icons .icon:hover .icon-item {
  -webkit-animation: animIcon .6s ease-in-out;
          animation: animIcon .6s ease-in-out;
  border: 1px solid #f64e4e;
}

.main .footer {
  padding: 75px;
  border-top: 3px solid rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  position: relative;
}

.main .footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 37, 60, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.main .footer-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.main .footer-item-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.main .footer__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.main .footer-list {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main .footer-list:hover {
  color: #f64e4e;
}

.main .footer-list:last-child {
  margin-bottom: 0;
}

.main .footer-icon {
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main .footer-icon__link {
  margin-right: 15px;
}

.main .footer-icon__link:last-child {
  margin-right: 0;
}

.main .footer-icon svg {
  fill: #C592A0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main .footer-icon svg:hover {
  fill: #f64e4e;
}

.main-search {
  padding: 70px 0 55px;
}

.main-search .search {
  padding: 45px 75px 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-height: 860px;
  overflow: hidden;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main-search .search-item {
  width: 180px;
  height: 250px;
  display: block;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  overflow: hidden;
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}

.main-search .search-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-search .search-item .search-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #0008;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  overflow: hidden;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.main-search .search-item .search-bg .play {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #ec1717;
  background: #0009;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main-search .search-item .search-bg .play svg {
  fill: #ec1717;
  width: 20px;
}

.main-search .search-item .search-bg .play svg path {
  stroke: #ec1717;
}

.main-search .search-item .search-bg .play:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  background: #0004;
}

.main-search .search-item:hover .search-bg {
  width: 100%;
  height: 100%;
}

.main-search .search-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.main-search .search__btn {
  width: 220px;
  height: 55px;
  border: 3px solid rgba(204, 204, 204, 0.7);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: #ec1717;
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.main-search .search__btn:hover {
  opacity: 0.8;
}

.main-search .search-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.main-search .search-page-num {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: #1b3a4b;
  border: 1px solid rgba(204, 204, 204, 0.7);
  margin-right: 25px;
}

.main-search .search-page-num:last-child {
  margin-right: 0;
}

.main-search .search-page-num:hover {
  opacity: 0.8;
}

.main-search .search-page .page_active {
  background: #ec1717;
}

.main-search .search-page .page_active:hover {
  opacity: 1;
}

.main-search .showAllSearch {
  max-height: 90000px !important;
}

.sign-in-box {
  width: 100%;
  height: 100vh;
  max-width: 1390px;
  margin: 0 auto;
}

.sign-in {
  width: 520px;
  max-height: 440px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  padding: 45px 15px 30px;
  text-align: center;
  margin: 0px auto;
  position: relative;
}

.sign-in .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 58, 75, 0.5);
  border: 3px solid rgba(204, 204, 204, 0.7);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.sign-in__title {
  font-size: 20px;
  font-weight: 400;
  padding: 0 30px;
  position: relative;
  z-index: 1;
}

.sign-in-form {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.sign-in-form__inp {
  width: 100%;
  border: 1px solid rgba(204, 204, 204, 0.7);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  height: 50px;
  background: transparent;
  padding: 0 180px 0 20px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.sign-in-form__inp::-webkit-input-placeholder {
  color: #fff;
}

.sign-in-form__inp:-ms-input-placeholder {
  color: #fff;
}

.sign-in-form__inp::-ms-input-placeholder {
  color: #fff;
}

.sign-in-form__inp::placeholder {
  color: #fff;
}

.sign-in-form .code {
  margin-top: 25px;
  position: relative;
}

.sign-in-form .code__btn {
  width: 165px;
  height: 50px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(204, 204, 204, 0.7);
  background: transparent;
  color: #fff;
  font-size: 20px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.sign-in-form .code__btn:hover {
  background: #061323;
}

.sign-in-form__btn {
  width: 145px;
  height: 50px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #fff;
  font-size: 20px;
  background: #061323;
  border: 1px solid rgba(204, 204, 204, 0.7);
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  margin-top: 30px;
}

.sign-in-form__btn:hover {
  background: #ec1717;
}

.modal-donate {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  z-index: -1;
}

.modal-donate__close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 9999;
  fill: #fff;
  cursor: pointer;
}

.modal-donate__close:hover {
  fill: #ec1717;
}

.modal-donate .modal-body {
  width: 80%;
  height: 650px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background: #11253c;
  border: 3px solid rgba(204, 204, 204, 0.7);
  padding: 45px 15px 30px;
  position: relative;
  margin-top: 100px;
}

.modal-donate .modal-body__text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  z-index: 9999;
  font-size: 24px;
}

.showModal {
  opacity: 1;
  z-index: 999;
}

@-webkit-keyframes animIcon {
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animIcon {
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes move-light {
  from {
    -webkit-transform: translateX(-20px) skewX(-45deg);
            transform: translateX(-20px) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(2000px) skewX(-45deg);
            transform: translateX(2000px) skewX(-45deg);
  }
}

@keyframes move-light {
  from {
    -webkit-transform: translateX(-20px) skewX(-45deg);
            transform: translateX(-20px) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(2000px) skewX(-45deg);
            transform: translateX(2000px) skewX(-45deg);
  }
}

@-webkit-keyframes move-light2 {
  from {
    -webkit-transform: translateX(-20px) skewX(-45deg);
            transform: translateX(-20px) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(400px) skewX(-45deg);
            transform: translateX(400px) skewX(-45deg);
  }
}

@keyframes move-light2 {
  from {
    -webkit-transform: translateX(-20px) skewX(-45deg);
            transform: translateX(-20px) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(400px) skewX(-45deg);
            transform: translateX(400px) skewX(-45deg);
  }
}

@media (max-width: 1600px) {
  .middle-ad .side-ad {
    display: none;
  }
}

@media (max-width: 1200px) {
  .main .header {
    padding: 0 20px;
  }
  .main .header-item__title {
    font-size: 14px;
  }
  .main .header-trailer-item {
    font-size: 14px;
    padding: 5px 10px;
  }
  .main .header-trailer label {
    margin-right: 10px;
  }
  .main .header-trailer label:last-child {
    margin-right: 0;
  }
  .main .header-trailer .tg_bot {
    font-size: 14px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
  }
  .main .header-trailer .tg_bot svg {
    width: 30px;
  }
  .main .header-trailer .tg_bot:hover svg {
    fill: #ec1717;
  }
  .main .wrapper .my-video #wrapper-video {
    height: 500px;
  }
  .main .wrapper-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -50px;
  }
  .main .wrapper-item-slider {
    margin: 0 auto;
  }
  .main .wrapper .youtube__link {
    width: 130px;
    height: 50px;
    font-size: 16px;
  }
  .main .wrapper .trailer-item__name {
    left: 20px;
  }
  .main .wrapper .trailer {
    position: relative;
    width: 100%;
    height: 500px;
  }
  .main .wrapper .trailer-item {
    height: auto;
    margin-bottom: 50px;
  }
  .main .wrapper .trailer-item__name {
    font-size: 40px;
  }
  .main .wrapper .trailer-item-btns {
    text-align: left;
    margin-top: 0;
  }
  .main .wrapper .trailer__download, .main .wrapper .trailer__favorites {
    width: 130px;
    height: 50px;
    font-size: 16px;
  }
  .main .wrapper .trailer .trailer-bg .play {
    width: 60px;
    height: 60px;
  }
  .main .wrapper .trailer .trailer-bg .play svg {
    width: 20px;
  }
  .main .wrapper .trailer .trailer-bg .play:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    background: #0004;
  }
  .main .wrapper-item {
    padding: 0 20px;
  }
  .main .baner-advertising {
    padding: 0 20px;
  }
  .main .donate {
    padding: 0 20px;
    margin-bottom: 40px;
  }
  .main .donate-img {
    display: none;
  }
  .main .donate-item {
    width: 100%;
  }
  .main .donate-item__title {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .main .donate-item-icons .icon-item {
    width: 60px;
    height: 60px;
  }
  .main .donate-item-icons .icon-item svg {
    width: 30px;
    height: 30px;
  }
  .main .donate-item-icons .icon__text {
    font-size: 18px;
    margin-top: 10px;
  }
  .main .donate-item-icons .icon:hover .icon-item {
    -webkit-animation: animIcon .6s ease-in-out;
            animation: animIcon .6s ease-in-out;
    border: 1px solid #f64e4e;
  }
  .main .footer {
    padding: 40px 20px;
  }
  .main .footer-item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .main .footer-item-box {
    width: 100%;
  }
  .main .footer__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .main .footer-list {
    font-size: 16px;
  }
  .main .footer-icon {
    width: 100%;
    margin-top: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .footer-icon svg {
    width: 30px;
  }
  .main-search {
    padding: 70px 0 55px;
  }
  .main-search .search {
    padding: 30px 20px 30px;
  }
}

@media (max-width: 768px) {
  .header .menu-burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main .header {
    padding: 0 20px;
  }
  .main .header-search {
    display: none;
  }
  .main .header-trailer {
    margin-top: 0;
  }
  .main .header-trailer .tg_bot {
    display: none;
  }
  .main .header-trailer-item {
    font-size: 14px;
    padding: 5px 10px;
  }
  .main .header-trailer label {
    margin-right: 10px;
  }
  .main .header-trailer label:last-child {
    margin-right: 0;
  }
  .main .header-trailer .tg_bot {
    font-size: 14px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
  }
  .main .header-trailer .tg_bot svg {
    width: 30px;
  }
  .main .header-trailer .tg_bot:hover svg {
    fill: #ec1717;
  }
  .main .wrapper .my-video #wrapper-video {
    height: 350px;
  }
  .main .wrapper-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .wrapper-item-slider {
    margin: 0;
  }
  .main .wrapper .youtube__link {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .main .wrapper .trailer {
    position: relative;
    width: 100%;
    height: 350px;
  }
  .main .wrapper .trailer-item {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
  }
  .main .wrapper .trailer-item__name {
    font-size: 40px;
  }
  .main .wrapper .trailer-item-btns {
    margin-top: 0;
  }
  .main .wrapper .trailer__download, .main .wrapper .trailer__favorites {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .main .wrapper-item {
    padding: 0 20px;
    max-width: 100% !important;
  }
  .main .wrapper-item .slick-next {
    right: 40px;
  }
  .main .wrapper-item .slick-prev {
    left: 20px;
  }
  .modal-donate .modal-body {
    width: 100%;
    height: 400px;
    margin-top: 0;
    padding: 20px 5px;
  }
  .modal-donate .modal-body__text {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .baner-advertising-sup {
    font-size: 30px;
    top: 40px;
  }
  .main {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  .main .header-trailer {
    margin-top: -15px;
  }
  .main .header-trailer-item {
    font-size: 12px;
    padding: 3px 7px;
  }
  .main .header label {
    margin-right: 0;
  }
  .main .wrapper .my-video #wrapper-video {
    height: 200px;
  }
  .main .wrapper-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .wrapper-item-slider {
    margin: 0;
  }
  .main .wrapper-item-slider {
    padding: 0 !important;
  }
  .main .wrapper-item .slick-center {
    height: 220px !important;
  }
  .main .wrapper-item .slider-item {
    height: 200px;
  }
  .main .wrapper .youtube__link {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .main .wrapper .trailer {
    position: relative;
    width: 100%;
    height: auto;
  }
  .main .wrapper .trailer__img {
    position: relative;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main .wrapper .trailer-item {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 25px;
  }
  .main .wrapper .trailer-item__name {
    font-size: 22px;
    top: 70%;
  }
  .main .wrapper .trailer-item .trailerName {
    top: 5%;
  }
  .main .wrapper .trailer-item-btns {
    margin-top: 0;
  }
  .main .wrapper .trailer__download, .main .wrapper .trailer__favorites {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .main .wrapper .trailer-item__name {
    position: relative !important;
    margin-bottom: 30px;
  }
  .main .wrapper-item {
    padding: 0 20px;
    max-width: 100% !important;
  }
  .main .wrapper-item .slick-next {
    right: 40px;
  }
  .main .wrapper-item .slick-prev {
    left: 20px;
  }
  .main .baner-advertising {
    padding: 0 20px;
  }
  .main .baner-advertising-item {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  .main .donate {
    padding: 0 20px;
    margin-bottom: 40px;
  }
  .main .donate-item {
    width: 100%;
  }
  .main .donate-item__title {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .main .donate-item-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .donate-item-icons .line {
    width: 2px;
    height: 80%;
    left: 37.5px;
  }
  .main .donate-item-icons .icon {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    margin-bottom: 20px;
  }
  .main .donate-item-icons .icon-item {
    margin-right: 15px;
  }
  .main .donate-item-icons .icon__text {
    width: 70%;
    font-size: 20px;
    margin-top: 0;
  }
  .main .footer {
    padding: 40px 20px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
  }
  .main .footer-item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .main .footer-item-box {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .main .footer-item-box ul {
    width: 100%;
    margin-bottom: 20px;
  }
  .main .footer__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .main .footer-list {
    font-size: 18px;
  }
  .main .footer-icon {
    width: 100%;
    margin-top: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .footer-icon svg {
    width: 30px;
  }
  .main-search .search {
    max-height: 750px;
  }
  .main-search .search-item {
    width: 155px;
    height: 220px;
  }
  .main-search .baner-advertising {
    margin-top: 0px;
  }
  .sign-in {
    width: 100%;
  }
  .sign-in__title {
    font-size: 18px;
    padding: 0;
  }
  .sign-in-form {
    margin-top: 40px;
  }
  .sign-in-form__inp {
    font-size: 16px;
    padding: 0 100px 0 10px;
  }
  .sign-in-form .code {
    margin-top: 25px;
    position: relative;
  }
  .sign-in-form .code__btn {
    width: 100px;
    height: 50px;
    font-size: 14px;
  }
  .sign-in-form__btn {
    width: 100%;
    font-size: 14px;
  }
}

.trailerName {
  top: 10% !important;
}
